# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/
env/

# Save Files
/save_files

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor
.vscode/
.idea/

# OS-specific
Thumbs.db
.DS_Store
